*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
*,
*::before,
*::after{
 box-sizing: inherit;
}

body{
 font-family: 'Roboto',sans-serif;
 font-weight: 400;
 line-height: 1.6;
 color:black;
 min-height: 100vh;

 
}

html{
 font-size: 62.5% ; /*1rem = 10px /16px */
 box-sizing: border-box;
}

/* header*/
.container{

}
header{
 font-size: 1.9rem;
 height: 6rem;
 /*background-color: #ffff;*/
 padding: 6rem 0;

 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
 z-index: 100;
}

.logo{
 margin-left: 23rem;
 height: 4.5rem;
}
.user-nav{
align-self:stretch;
display: flex; 
margin-right: 23rem;
align-items: center;}

.main-nav {
 display: flex;
 color: #0000;
 cursor: pointer;
 align-items: center;
}
.nav-item{
 display: flex;
}
.nav-item:not(:last-child){
 margin-right: .4rem;
}
.nav-link{
 text-decoration: none;
 padding: .5rem 1.2rem;
 border-radius: .4rem;
 font-size: 1.4rem;
 color: #000;
 font-weight: 600;
 flex-direction: row;
 transition: all .2s;
}
.nav-link:hover{
 background-color: rgb(138, 91, 255);
 color: white;
}
.nav-link:active{
 transform:translateY(5px);
}
.focused{
 background-color: rgb(138, 91, 255);
 color: white;
 border-radius: .4rem;
}
.focused:hover{
 background-color: rgb(108, 50, 255);
 color: white;
}
/* content*/
.content{
 margin-left: 23rem;
 display: flex;

}
.content-txt{
margin-top: 15rem;
position: relative;
z-index: 5;

}
.big-text{
 font-size: 3.8rem;
 font-weight: 600;
 line-height: 4.8rem; 
 letter-spacing: .02px;
}
.small-text{
margin-top: 4.2rem;
font-size: 1.4rem;
font-weight: 400;
letter-spacing: 1.5px;
word-spacing: 1.5px;
line-height: 2.1rem;
color:black;
}
.content-img{
 margin-top: -12rem;
 position: absolute;
 margin-left: 35.4rem;
 height: 50vh;
 z-index: 3;
}
.header-img{
height: 100vh;
width: 56vw;
position: absolute;
z-index: 4;
}

.btn{
 border: none;
 margin-top: 3.5rem;
 border-radius: .3rem;
 text-transform: uppercase;
 padding: 1rem 1.5rem;
 font-size:1.3rem ;
 font-weight: 600;
 cursor: pointer;
 transition: all .1s;
 overflow: hidden;
 background-color: rgb(138, 91, 255);
}
.btn:hover{
 background-color: rgb(89, 24, 255);
 color: white;
 outline: none;
 cursor: pointer;
 transition: all .1s;
 overflow: hidden;
}
.btn:active{
 transform: translateY(5px);
}
.btn:focus{
 outline: none;
}
.btn-2{
 border: none;
 margin-top: 3.5rem;
 border-radius: .3rem;
 font-size:1.3rem ;
 font-weight: 600;
 padding: 1rem 1.5rem;
 background-color: white;
 cursor: pointer;
 transition: all .1s;
 overflow: hidden;
 border: none;
}
.btn-2:active{
 transform: translateY(5px);
}
.btn-2:hover{
 background-color: rgb(138, 91, 255);
 color: #fff;
 font-weight: 300;
 outline: none;
 transition: margin-left .3s;
 overflow: hidden;
 transition: all .1s;
}
.btn-2:focus{
 outline: none;
}
.btn-2:hover span{
 margin-left: .4rem;
 transition: all .1s;
 
}
/* about */
.about{
 margin:16rem 23rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.about-box1{
 
}
.boxmove:hover {
 transform: translateY(-1.5rem) scale(1.03); 
cursor: pointer;
transition: all .2s;
border-bottom:2px solid rgb(138, 91, 255);
}

.box1-txt1{
 display: flex;
letter-spacing: 1.5px;
 word-spacing: 2.9px;
 font-size: 3.1rem;
 line-height: 4.7rem;
 font-weight: 400;
 margin-bottom: 2.5rem;
}
.box1-txt2{
 font-size: 1.4rem;
 letter-spacing: 1.3px;
word-spacing: 1.6px;
line-height: 2.2rem;
color:black;
}
.about-box2{
 margin-top: -10.8rem;
 position: relative;
 z-index: 10;
 box-shadow:0 10px 15px rgba(0, 0, 0, 0.4);
 padding:6.1rem 3.4rem;

 border-radius: 1rem;
}
.about-img{
 margin-top: -3rem;
width: 15rem;
margin-left: -2rem;
}
.box2-txt1{
 margin-bottom: 1.6rem;
 font-size: 2.2rem;
}
.box2-txt2{
 font-size: 1.3rem;
line-height: 1.6rem;
color:black;
letter-spacing: .6px;
 word-spacing: 1px;
}
.about2{
 margin:16rem 23rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.about2-box2{
 margin-top: -10.8rem;
 /*position: relative;*/
 z-index: 10;
 box-shadow:0 10px 15px rgba(0, 0, 0, 0.4);
 padding:6.1rem 2.7rem;

 border-radius: 1rem;
}
.about-img1{
 margin-top: -5.7rem;
 width: 15rem;
margin-left: -2rem;
}

/* section conversation */

.conversation{
 text-align: center;
 background-color: rgb(247, 247, 247);
 padding: 8rem 0;
 transform: skewY(-5deg);
}
.conversation > * {
 transform: skewY(5deg);
 }

.conver{
font-size: 3.5rem;
font-weight: 400;
margin-bottom: 1.6rem;
}
.conver-txt{
 font-size: 1.6rem;
 margin-bottom: 9rem;
}
.cover-box{
 display: flex;
 margin: 5rem 12rem;
 
}
.box {
margin-left: 3.2rem;
padding: 1.5rem;
background-color: rgba(255, 255, 255, 0.884);
border-radius:0 3.5rem;
}
.box:hover {
 transform: translateY(-1.5rem) scale(1.03); 
 background-color: rgba(255, 255, 255, 0.301);
transition: all .2s;
cursor: pointer;
}
.box img{
 border-radius: .5rem;
 width: 6rem;
padding-bottom: 1.5rem;
}
.big-txt{
 margin-bottom: 1rem;
 font-size: 1.5rem;
 font-weight: 600;
}
.small-txt{
 font-size: 1.4rem;
}
.cover-box2{
 display: flex;
 margin: 5rem 12rem;
}

/*section-safety */

.section-safety{
 display: flex;
 margin: 15rem 22rem;
}
.safety{
margin-right: 2.3rem;
}
.drive-ride{
 display: flex;
 margin-top: 4rem;
 font-size: 1.3rem;

}
.drive{
padding-right:8rem ;

}
.ride-txt,
.drive-txt{
margin-bottom: 1.4rem;
}
.safety-img{
 width: 50rem;
}
.section-move{
 display: flex;
 margin: 15rem 22rem;
}
.safety1{
 margin-left: 2.3rem;
}
.drive1{
 padding-left:8rem ;
}

.safety1-img{
 width: 48rem;
}
/*finance */
.finance{
 display: flex;
 margin-left: 22rem;
}
.finance-img{
height:auto ;
width: 64rem;

}
.finance-box{

}
.finance-txt2{
  font-size: 1.5rem;
 line-height: 2.4rem;
 color:black;
 letter-spacing: .6px;
 word-spacing: 1px;
}
.finance-box2{
margin-top: 14rem;

}
.finance-box2 h2{
 font-size: 2.4rem;
 font-weight: 300;
}
.finance-list{
 
}
.more-list{
margin-top: 2.4rem;
font-size: 1.7rem;
list-style: none;
padding-left: 1.6rem;
}

/* monitor */
.monitor{
 display: flex;
 margin:2rem 22rem;
 padding-bottom: 10rem;
}
.monitor-box1{
padding-right: 8rem;
}
.monitor-txt1{
font-size: 2.5rem;
font-weight: 300;
}
/* section ready */

.ready{
 background-color: rgb(236, 234, 234);
 padding: 10rem 0;
 
}
.ready-box{
 padding-right: 11rem;
}
.ready-boxes{
 margin:0 22rem;
 display: flex;
}
.finance-txt2{
 
}
.ready-form{
 width: 42rem;
 height: 5.5rem;
 border: none;
 border-radius: .3rem;
 padding-left: 2rem;
 position: absolute;
 z-index: 1;
}
.ready-form:focus{
 outline: none;
 width: 50rem;
 transition: all .3s;
 border-bottom:3px solid rgb(138, 91, 255);
}
.ready-form:active{
 transform: translateY(5px);
}
.btn-form{
 position: relative;
 z-index: 9;
 border: none;
 font-size: 1.35rem;
 text-transform: uppercase;
 text-decoration: none;
top: 2rem;
left: 30rem;
font-weight: 600;
}

/*footer*/

footer{
 padding:7rem 0;
 background-color: rgb(33, 33, 66);
 font-size: 1.2rem;
 font-weight:550;
 color: rgb(146, 146, 146);
}

footer a{
 text-decoration: none;
}
footer a:visited{
 color: rgb(185, 185, 185);;
}
footer a:hover{
 color: rgb(252, 250, 255);
 transition: all .1s;
 
}
.footer-items{
 display: flex;
 margin: 0 20rem;
 padding:3.55rem 0 ;
}
.contact{
margin-right: 19rem;
}
.contact list:hover{
cursor: pointer;
}
.big-logo{
 font-size: 4rem;
 font-weight: normal;
 margin-bottom: 2.8rem;
 color: rgb(255, 255, 255);
}
.email{
 color: rgb(223, 223, 223);
}
.contact-num{
 margin-bottom: 2.8rem;
}
.about-us li {
list-style: none;
margin-bottom: 2rem;
margin-right:8.9rem ;

}
.offerings li{
 list-style: none;
margin-bottom: 2.9rem;
margin-right:8rem ;
}
.support li{
 list-style: none;
margin-bottom: 2rem;
}
.copywrite{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 5rem 20rem 1rem 20rem;
 color: rgb(126, 126, 126);
}
.word-list{
 list-style: none;
 display: inline-block;
}
.word-list:hover{
 color: rgb(230, 230, 230);
 cursor: pointer;
}
.word-list:not(:last-child){
 margin-right: 3rem;
}






