
html{
    background-color:#ffff;
    text-rendering: optimizeLegibility;
    color: rgb(12, 12, 12);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;    
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.headername{
    text-align: center; 
    background-color:  #F4F1F2;
}

.headernames{padding: 10px 0;}
.headername h1 {
    font-weight: bold;
    font-size: 25px;
}

h6{font-size: 10px;}
.colouredheader{
    color: #EC1600;
}
.smallheadername{
    font-size: 15px;
}
 /* section about */

.sectionabout{
background-image: url(image/background.png.png);
background-position: center;
background-size: cover;
height: auto;
width: auto;
background-attachment: fixed;
}
.about{
    margin: 0 auto;
}

h5{font-size:15px;
    letter-spacing: 0.3px;
   line-height: 1.1rem;
    word-spacing: 3px;
    font-weight: 110;
    padding:0 30px 0 0;

}
.sectionabout div{
    text-align: center;
    margin: 0 150px;
    color: #FFFFFF;
    padding: 25px 0;
    word-spacing: 4px;
}
.sectionabouttext{font-size: 40px;}
  
/* section activities  */

.section-activities{
    background-color: #FFFFFF;
    margin: 0 100px;
    
}

.activity-head{
padding:45px 0;
text-align: center;
}

h2{font-weight: 100;}
.row img{
    height:210px;
    width: 330px; 
}
.section-activities p{
font-size:17px;
font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 0.6rem;

}
.imgbox{
/* border: solid 1rem black;*/
 background-size: cover;
 background-position: center;
}
.row h5{font-weight: bold;}
.row div{
   }
.imgg{padding: 5px 0;  
}

.box{
    padding-top: 10px;
}

.box p
{margin:10px 0 0 -190px;
font-size: 14px;
    line-height: 1.30rem;
    word-spacing: 0.6px;
    text-align: justify;
    letter-spacing: 1px;
    font-weight:500; 
    font-style: oblique; 
}

    /*   footer section */
footer{
    background-color:#484A5D;
   margin-top: 40px;
   height: 9vh;
 }
 .footersection {
  
 } 
 .footertwiitter{
     margin-right: 100px;
      }
 .footerimg{
     height:50px; 
     width: auto; 
     margin: 8px 130px; 
 }
 .socialmedia{
    float:right;
    margin-top: -46px;
    font-size: 11px;
    font-weight: bold;
    }
 .socialmedia li{
     display: inline-block;
    text-decoration: none;
    list-style: none;
   color: #FFFFFF;
   margin-right: 5px;
}
.socialmedia li a{text-decoration: none;
    color: #1DA1F2;
}
.socialmedia li a:hover{  
color: rgb(92, 88, 88);
background-color:rgb(255, 255, 255);
padding: 3px 3px;
border-radius: 7px;
border: solid 0.1rem #1DA1F2;
}
  